<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trends Api</title>
    <link rel="stylesheet" href="bulma/bulma.css">
  </head>
  <body>
    <div class="wrapper has-background-dark">
      <div class="container">
        <section class="section is-family-monospace">
            <h1 class="title has-text-white">
              Hello World
            </h1>
            <p class="subtitle has-text-light">
              My first website with <strong class="has-text-light">Bulma</strong>!
            </p>
        </section>
        {{#each users}}
           <div class="card my-6">
            <header class="card-header">
              <p class="card-header-title">
                {{name}}
              </p>
            </header>
          </div>
        {{/each}}
      </div>
    </div>
  </body>
</html>